*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Chewy', Arial, Helvetica, sans-serif;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9); /* make the mark smaller than the cell  */
}

h1 {
    text-align: center;
    font-size: 45px;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(199, 50, 50);
    background-color: rgb(238, 238, 238);

}

h1 span {
    color: rgb(57, 172, 57);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 40px;
}

.players {
    display: flex;
    flex-direction: row;
    font-size: 28px;
    color: rgb(82, 82, 82);
    font-weight: 600;
}

.player1 {
    margin-right: 300px;
}

.player2 {
    margin-left: 300px;
}

.score1 {
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    color: rgb(199, 50, 50);
}

.score2 {
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    color: rgb(57, 172, 57);
}

.board {
    width: 100vw;
    height: 300px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center; /* the 0/X */
    grid-template-columns: repeat(3, auto);
    margin-top: 70px;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after {
    background-color: rgb(199, 50, 50);
}

.cell.circle::before,
.cell.circle::after {
    background-color: rgb(57, 172, 57);
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    background-color: lightgrey;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height:  calc(var(--mark-size) * .7);
    background-color: white;
}

.display-result {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.display-result button {
    font-size: 2rem;
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 20px;
    transition: all .3s;
    color: rgb(77, 77, 77);
}

.display-result button:hover {
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
}

.display-result.show {
    display: flex;
    flex-direction: column;
}

.winning-text {
    text-align: center;
}

@media screen and (max-width: 850px) {
    .player1 {
     margin-right: 15px;
    }

    .player2 {
        margin-left: 15px;
    }
}